/* 
  重置样式
  通用样式
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #4d555d;
}
a:hover {
  color: #f01414;
}

.active {
  color: #f01414;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
