/* 
  思路：
    init表示初始状态，done表示最终状态
    过程：触发，初始→最终的动画效果
*/

/*第一屏动画*/
.screen-1__shadow_animate_done,
.screen-1__phone_animate_done,
.screen-1__heading_animate_done {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 1s;
}

.screen-1__heading_animate_init {
  opacity: 0;
  transform: translate(-50%, 300%);
}
.screen-1__phone_animate_init {
  opacity: 0;
  transform: translate(-50%, -150%);
}
.screen-1__shadow_animate_init {
  opacity: 0;
  transform: translate(-50%, 150%);
}
