<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>v-for</title>
    <script src="../vue.js"></script>
  </head>
  <body>
    <!-- v-for 指令需要使用 item in items 形式的特殊语法，items 是源数据数组并且 item 是数组元素迭代的别名 -->
    <ul id="app">
      <li v-for="item in items">{{ item.message }}</li>
    </ul>

    <!-- 在 v-for 块中，我们拥有对父作用域属性的完全访问权限。v-for 还支持一个可选的第二个参数为当前项的索引 -->
    <ul id="app2">
      <li v-for="(item, index) in items">{{ index }} - {{ item.message }}</li>
    </ul>

    <!-- v-for 通过一个对象的属性来迭代 -->
    <ul id="v-for-object" class="demo">
      <li v-for="(value, name, index) in object">
        {{ index }}. {{ name }}: {{ value }}
      </li>
    </ul>

    <!-- 为了给 Vue 一个提示，以便它能跟踪每个节点的身份，从而重用和重新排序现有元素，你需要为每项提供一个唯一 key 属性 -->
    <div v-for="item in items" v-bind:key="item.id">
      <!-- 内容 -->
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          items: [{ message: "Foo" }, { message: "Bar" }]
        }
      });

      new Vue({
        el: "#app2",
        data: {
          items: [{ message: "A" }, { message: "B" }]
        }
      });

      new Vue({
        el: "#v-for-object",
        data: {
          object: {
            title: "How to do lists in Vue",
            author: "Jane Doe",
            publishedAt: "2016-04-10"
          }
        }
      });
    </script>
  </body>
</html>
