<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>预览</title>
    <script src="vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- 组件复用一 -->
      <ol>
        <comment-item
          v-for="item in comments"
          v-bind:comment="item"
        ></comment-item>
      </ol>

      <!-- 组件复用二 -->
      <ol>
        <comment-item
          v-for="item in others"
          v-bind:comment="item"
        ></comment-item>
      </ol>
    </div>

    <script>
      Vue.component("comment-item", {
        props: ["comment"],
        template: "<li>{{comment.content}}</li>"
      });

      var app = new Vue({
        el: "#app",
        data: {
          comments: [
            { content: "nice ~" },
            { content: "great ~" },
            { content: "awesome ~" }
          ],
          others: [
            { content: "aaaaa ~" },
            { content: "bbbbb ~" },
            { content: "ccccc ~" }
          ]
        }
      });
    </script>
  </body>
</html>
