<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>表单</title>
    <link rel="stylesheet" href="semantic.css" />
    <script src="vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="ui container">
        <div class="ui pink inverted segment">{{ selected }}</div>
        <select class="ui fluid dropdown" v-model="selected">
          <option v-for="option in options" :value="option.value">{{
            option.value
          }}</option>
        </select>
      </div>
    </div>

    <script>
      let app = new Vue({
        el: "#app",
        data: {
          selected: "",
          options: [{ value: "A" }, { value: "B" }, { value: "C" }]
        }
      });

      // v-model双向绑定
    </script>
  </body>
</html>
