/* 控制样式 */

/* top */
.top {
  background-color: #f5f5f5;
}
.top-phone-text {
  color: #868686;
}
.top-right-text {
  color: #868686;
  font-weight: bold;
}
.top-right-login,
.top-right-register,
.top-right-help {
  font-weight: bold;
  color: #5bb8e8;
}

/* header */
.header {
  background: #ffffff;
}
.header-search {
  background: url(../img/ui-search.jpg) no-repeat center;
}
.header-search-select {
  color: #ffffff;
}

/* nav */
.nav {
  background: #60bff2;
}
.nav-menu a {
  font-size: 16px;
  color: #ffffff;
}
.nav-menu a:hover {
  color: #eeeeee;
}

/* banner */
.banner-slider {
  background: #1fa4f0;
}
.banner-help {
  background: #fafafa;
}
.banner-slider-item-title,
.banner-slider-item-subtitle {
  color: #ffffff;
}
.banner-slider-item-title:hover,
.banner-slider-item-subtitle:hover {
  color: #aaaaaa;
}

/* content */
.content {
  background-color: #f5f5f5;
}

/* footer */
.footer {
  background: #1fa4f0;
}
